<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="/style.css" rel="stylesheet" type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript">
    window.onload = function () {
        var request = $.ajax({
            url: "/cluster",
            method: "GET",
        });
        request.done(function (clusters) {
            //Gets datapoints from clusters and puts them in the chart
            var dataPoints1 = [];
            var dataPoints2 = [];
            for (var i = 0; i < clusters.length; i++) {
                var cluster = clusters[i];
                var dataPoint1 = {y: cluster["demRatio"], label: cluster["name"]};
                var dataPoint2 = {y: cluster["repRatio"], label: cluster["name"]};
                dataPoints1.push(dataPoint1);
                dataPoints2.push(dataPoint2);
            }

            var chart = new CanvasJS.Chart("chartContainer",
            {
                toolTip: {
                    content: function (e) {
                        var name = e.entries[0].dataPoint.label;
                        for (var i = 0; i < clusters.length; i++) {
                            var cluster = clusters[i];
                            if (cluster["name"] === name) {
                                var keywords = cluster["keywords"];
                                var keys = Object.keys(cluster["keywords"]);
                                var retString = name;
                                for (var j = 0; j < keys.length; j++) {
                                    var key = keys[j];
                                    retString += " <a href=\"javascript:void(0)\" id=\"" + key + "\">" + key + "</a>";

                                    //This bit doesn't work because the element doesn't exist yet :/
                                    //From here...
                                    $("#" + key).click(function () {
                                        console.log("This happens");
                                        var htmlString = "<ol>";
                                        for (var k = 0; k < keywords[key].length; k++) {
                                            var article = keywords[key][k];
                                            htmlString += "<li>" + "<a href=\"" + article + "\">" + article + "</a><li>";
                                        }
                                        htmlString += "</ol>";
                                        $("#keyword-articles").replaceWith(htmlString);
                                    })
                                    //To here.
                                }
                                return retString;
                            }
                        }
                        return "Error";
                    }
                },
                title:{
                    text: "Topic clusters and demographic share ratios"
                },

                data: [
                {
                    type: "stackedBar100",
                    dataPoints: dataPoints1
                },
                {
                    type: "stackedBar100",
                    dataPoints: dataPoints2
                },

                ]

                // data:[
                
                // {
                //     type: "stackedBar100",
                //     dataPoints: [
                //     {y: 600, label: "Water Filter" },
                //     {y: 450, label: "Modern Chair" },
                //     {y: 120, label: "VOIP Phone" },
                //     {y: 250, label: "Microwave" },
                //     {y: 120, label: "Water Filter" },
                //     {y: 374, label: "Expresso Machine" },
                //     {y: 350, label: "Lobby Chair" }

                //     ]
                // },
                // {
                //     type: "stackedBar100",
                //     dataPoints: [
                //     {y: 400, label: "Water Filter" },
                //     {y: 550, label: "Modern Chair" },
                //     {y: 220, label: "VOIP Phone" },
                //     {y: 350, label: "Microwave" },
                //     {y: 220, label: "Water Filter" },
                //     {y: 474, label: "Expresso Machine" },
                //     {y: 450, label: "Lobby Chair" }

                //     ]
                // },
                // ]

            });
chart.render();
});
}
</script>
<script type="text/javascript" src="/canvasjs.min.js"></script>




<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<title>Senior Design</title>
</head>

<body>
    <div class="banner">
        <h1>Sharing Behavior by Political Party </h1>
    </div>

    <div id="graph">
        <div id="democrat-header" class="title democrat-background">
            Democrats
        </div>
        <div id="vs">
            VS.
        </div>
        <div id="republican-header" class="title republican-background">
            Republicans
        </div>

        <br />
        <br />
        <br />



        <div id="chartContainer" style="height: 300px; width: 60%">
        </div>
        <div id="keyword-articles" style="height: 300px; width: 30%">
        </div>

        <table id="cluster-keywords">
            <tr> <td>adfad </td> </tr>
            <tr> <td>adfad </td> </tr>
        </table>

    </div>

    <div class="banner">
        <h1>Top domains for each political party</h1>
    </div>

    <div class="domain">
        <div id="democrats">
            <div class="title democrat-background">
                Most Visited Democrat Domains
            </div>

            <div class="list democrat-background-2">
                <ol>
                    <% for(var i=0; i<democrat_domains.length; i++) {%>
                    <li><%= democrat_domains[i] %></li>
                    <% } %>
                </ol>
            </div>


        </div>

        <div id="republicans">
            <div class="title republican-background">
                Most Visited Republican Domains
            </div>

            <div class="list republican-background-2">
                <ol>
                    <% for(var i=0; i<republican_domains.length; i++) {%>
                    <li><%= republican_domains[i] %></li>
                    <% } %>
                </ol>        
            </div>

        </div>

    </div>

</body>
</html>